{
   "dataset_reader": {
        "type": "spanconll2003",
        "max_span_width": 50, 
        "token_indexers": {
          "tokens": {
            "type": "single_id",
          }
        }
    }, 
  "train_data_path": "./data/softdict_train.txt",
  "validation_data_path": "./data/softdict_test.txt"
  "model": {
    "type": "soft_dictionary_span_classifier_HSCRF",
    "text_field_embedder": {
      "token_embedders": {
        "tokens": {
            "type": "embedding",
            "embedding_dim": 300,
            "pretrained_file": "./data/sgns.baidubaike.bigram-char",
            "trainable": true
        }
      }
    },
    "encoder": {
      "type": "lstm",
      "input_size": 300,
      "hidden_size": 200,
      "num_layers": 2,
      "dropout": 0.5,
      "bidirectional": true
    },
    "feedforward":{
         "input_dim": 420,
         "num_layers": 2,
        "hidden_dims": [250,100],
        "activations": ["relu", "relu"],
    },
    "feature_size": 20,
    "max_span_width": 50, 
    "regularizer": [
      [
        "scalar_parameters",
        {
          "type": "l2",
          "alpha": 0.1
        }
      ]
    ]
  },
  "iterator": {
        "type": "basic",
        "batch_size": 64
      },
  "trainer": {
    "optimizer": {
        "type": "adam",
        "lr": 0.001
    },
    "validation_metric": "-loss",
    "num_serialized_models_to_keep": 3,
    "num_epochs": 10,
    "grad_norm": 5.0,
    "grad_clipping": 1.0,
    "patience": 15,
    "cuda_device": 1
  },
  "vocabulary":{
      "directory_path": "INSTALLATION_DIR/vocabulary/SoftDictHSCRF_vocabulary",
      "extend": true  
  }
}
